.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(143, 142, 142);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: antiquewhite;
  padding: 3% 1%;
  border-radius: 7px;
}

h1 {
  font-family: 'Roboto', sans-serif;   
  text-shadow: 1px 2px 3px black; 
}

form {
  padding: 50px;
  background-color: #ccc;
  border-radius: 5px;
}

input, button, select {
  text-align: center;
  padding: 7px;
  border: none;
  margin: 0 10px;
  border-radius: 5px;  
  font-size: 20px;    
}

input:focus{
  outline: 1px solid rgb(190, 123, 35);
}
 .container img {
  width: 20%; 
  margin-bottom: 60px; 
  margin-top: 30px;
 }

  button {
   background-color: rgb(138, 156, 156);   
   color: antiquewhite;
   font-weight: 600;
   text-transform: uppercase;
 }

 button:enabled {
  background-color: rgb(5, 95, 95);
  color: antiquewhite;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 880px) and (min-width: 640px) {
  .container {
    padding: 20px;

  }
  form {
    padding: 40px 0;    
  }

  input {
    font-size: 15px;
  }
} 

@media screen and (max-width: 640px) and (min-width: 320px) {
  .container {
    padding: 0 10px;
  }
  main {
    padding: 18px 0;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  input, button, select {
    margin: 10px;
    font-size: 15px;
  }
}