*{
  margin: 0;
}

header {
  background-color: #789;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.container_wallet form {
  display: flex;
  justify-content: space-around;
}

#value {
  width: 50px;
}

#currency {
  width: 90px;
}
#method {
  width: 120px;
}
form label {
  display: flex;
  align-items: center;
}
img {
  width: 3%;
  margin: 0 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;  
}

li {
  margin: 20px;
  list-style-type: none;
  font-weight: bold;
  color: white;
}

label, table {
  font-size: 20px;
}

span {
  color: bisque;
}
table{ 
  width: 100vw;
}

th, td {
  padding: 20px; 
  background-color: #e9e6e6;
  text-align: center;
 } 

 th {
   background-color: darkseagreen;
   color: white;
 }

 .delete:enabled {
   background-color: rgb(252, 78, 78);
   
 }
 .delete img {
   width: 20px;
   margin: 2px;  
 }
 
 

 @media screen and (max-width: 1100px) {  
   th, td {
     padding: 10px;     
    } 
    .container_wallet input, select, label, button {
      font-size: 17px;
    }
  }
  @media screen and (min-width: 952px) and (max-width: 1320px) {
    .container_wallet form {
      justify-content: center;
      flex-wrap: wrap;    
      padding: 20px;
    }
    form label, form button {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 775px) and (max-width: 951px) {
    .container_wallet form {
      justify-content: center;
      flex-wrap: wrap;    
      padding: 10px;
    }
    form label, form button {
      margin-bottom: 20px;
    }
    table {
      font-size: 15px;
    }
    header img {
      width: 5%;
    }
  }
  @media screen and (min-width: 645px) and (max-width: 774px) {
    .container_wallet form {
      justify-content: center;
      flex-wrap: wrap;    
      padding: 8px;
    }
    form label, form button {
      margin-bottom: 10px;
    }
    .container_wallet input, select, label, button {
      font-size: 15px;
    }
    table {
      font-size: 10px;
    }
    header img {
      width: 5%;
    }
  }

  @media screen and (min-width: 220px) and (max-width: 644px) {
    .container_wallet form {
      display: flex;
      flex-direction: column;
      align-items: inherit;  
         
    }
    th {
      display: none;
    }
    tr {
      display: flex;
      flex-direction: column;
      margin: 2px;
    }
    header img {
      width: 15%;
    }
    form label {
      margin-left: 10px;
    }
    .container_wallet input, select, label, button {
      font-size: 15px;
    }
    #currency {
      margin-left: 30px;
    }
    #value {
      margin-left: 42px;
    }
    
    #tag {
      margin-left: 50px;
    }
    
    li:first-child{
      display: none;
    }
    li {
      margin: 0 5px;
    }

  }